ClientPortal/ClientPortal/Connected Services/ClientService/HIFIS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.hifis.ca/Domain/HIFIS.DOMAIN.BusinessServices.ClientService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://demo.hifis.ca/Domain/HIFIS.DOMAIN.BusinessServices.ClientService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HIFIS.ENUMS.CommonClasses" />
  <xs:import schemaLocation="https://demo.hifis.ca/Domain/HIFIS.DOMAIN.BusinessServices.ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AuditFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFilters">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuditFilter" nillable="true" type="tns:AuditFilter" />
  <xs:complexType name="BaseFilters">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseworkerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DaysPast" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FrontDesk" type="xs:boolean" />
      <xs:element minOccurs="0" name="GetInactive" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderColumn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDescending" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StringSearch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFilters" nillable="true" type="tns:BaseFilters" />
  <xs:complexType name="Authentication">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppSettings" nillable="true" type="tns:ApplicationSettings" />
      <xs:element minOccurs="0" name="AuthenticationToken" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ChildrenAge" type="xs:short" />
      <xs:element minOccurs="0" name="CurrentClusterID" type="xs:short" />
      <xs:element minOccurs="0" name="CurrentCulture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentGeoRegionID" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="CurrentOrgID" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentRightID" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorCodes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="FamilyHeadAge" type="xs:short" />
      <xs:element minOccurs="0" name="FirstLogon" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBedDisplayExpanded" type="xs:boolean" />
      <xs:element minOccurs="0" name="Privacy" type="xs:boolean" />
      <xs:element minOccurs="0" name="SeeChildren" type="xs:boolean" />
      <xs:element minOccurs="0" name="SeeFemales" type="xs:boolean" />
      <xs:element minOccurs="0" name="SeeMales" type="xs:boolean" />
      <xs:element minOccurs="0" name="SeeYouth" type="xs:boolean" />
      <xs:element minOccurs="0" name="SeniorAge" type="xs:short" />
      <xs:element minOccurs="0" name="UserRights" nillable="true" type="tns:ArrayOfUserRight" />
      <xs:element minOccurs="0" name="YouthAge" type="xs:short" />
      <xs:element minOccurs="0" name="userCache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authentication" nillable="true" type="tns:Authentication" />
  <xs:complexType name="ApplicationSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowClientsInPeopleSearch_Key" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AppSettingList" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="AttestationTextEng_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttestationTextFr_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BingMapKey_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClusterID_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConcurrentSessions_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsentExpiryDays_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseGUID_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseSiteID_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultFileNumber_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultPassword_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultSelectedRowIndex_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMailExpiry_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnableAttestation_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnableShare_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnforceConsent_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeoRegionFilter_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstanceInfo_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDebug_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumRowsInList_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumRowsOnPage_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinTriggerConsentAge_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinimumCharacterInput_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgCode_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordAgeLimit_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordComplexityHelp_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestrictClientSearch_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionTimout_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeOut_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TwoFactorAuth_key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationSettings" nillable="true" type="tns:ApplicationSettings" />
  <xs:complexType name="ArrayOfUserRight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRight" nillable="true" type="tns:UserRight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRight" nillable="true" type="tns:ArrayOfUserRight" />
  <xs:complexType name="UserRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowedYN" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="RightID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRightID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRight" nillable="true" type="tns:UserRight" />
  <xs:complexType name="ArrayOfAudit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Audit" nillable="true" type="tns:Audit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAudit" nillable="true" type="tns:ArrayOfAudit" />
  <xs:complexType name="Audit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AuditLogID" type="xs:long" />
          <xs:element minOccurs="0" name="AuditMessageID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Controller" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModuleTypeID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="OrgID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuccessYN" type="xs:boolean" />
          <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Audit" nillable="true" type="tns:Audit" />
  <xs:complexType name="BaseDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HifisRowVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdatedByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdatedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDataContract" nillable="true" type="tns:BaseDataContract" />
  <xs:complexType name="ClientAppearance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientHeight" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientWeight" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="EyeColorTypeID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="HairColorTypeID" nillable="true" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientAppearance" nillable="true" type="tns:ClientAppearance" />
  <xs:complexType name="WCFValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewRowVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ObjectID" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValidationMessages" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HIFIS.ENUMS.CommonClasses" minOccurs="0" name="ValidationResultCode" type="q4:ValidationResultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFValidationResult" nillable="true" type="tns:WCFValidationResult" />
  <xs:complexType name="Parameters">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReportID" type="xs:int" />
          <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReportParameters" nillable="true" type="tns:ArrayOfParameter" />
          <xs:element minOccurs="0" name="SerializedModelState" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parameters" nillable="true" type="tns:Parameters" />
  <xs:complexType name="ArrayOfParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="tns:Parameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameter" nillable="true" type="tns:ArrayOfParameter" />
  <xs:complexType name="Parameter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParameterData" nillable="true" type="tns:ParameterData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parameter" nillable="true" type="tns:Parameter" />
  <xs:complexType name="ParameterData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AllowMultiple" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustomLookupList" nillable="true" type="tns:ArrayOfListItem" />
          <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Internal" type="xs:boolean" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParameterData" nillable="true" type="tns:ParameterData" />
  <xs:complexType name="ArrayOfListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListItem" nillable="true" type="tns:ListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListItem" nillable="true" type="tns:ArrayOfListItem" />
  <xs:complexType name="ListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListItem" nillable="true" type="tns:ListItem" />
  <xs:complexType name="Report">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfidentialYN" type="xs:boolean" />
          <xs:element minOccurs="0" name="DBVersion" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DateUploaded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Deleteable" type="xs:boolean" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Document" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="File" nillable="true" type="tns:File" />
          <xs:element minOccurs="0" name="GUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="HasParameters" type="xs:boolean" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IsClient" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NextUpdReport" nillable="true" type="tns:Report" />
          <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
          <xs:element minOccurs="0" name="ReleaseNotes" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReportCategories" nillable="true" type="q5:ArrayOfint" />
          <xs:element minOccurs="0" name="ReportParameters" nillable="true" type="tns:ArrayOfParameter" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ServiceProviders" nillable="true" type="q6:ArrayOfint" />
          <xs:element minOccurs="0" name="Type" type="ser:char" />
          <xs:element minOccurs="0" name="UpdateAvailable" type="xs:boolean" />
          <xs:element minOccurs="0" name="VersionNumber" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="ByteArray" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:complexType name="ClientHousingHistory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActiveDateEnd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ActiveDateStart" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ActiveHousingPlacement" type="xs:boolean" />
          <xs:element minOccurs="0" name="ClientHouseID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientIncome" type="xs:decimal" />
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasActiveHousingRetention" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasDependencies" type="xs:boolean" />
          <xs:element minOccurs="0" name="HouseDetails" nillable="true" type="tns:HousingUnit" />
          <xs:element minOccurs="0" name="HouseID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="HousePlacementFollowUpCompleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="HousePlacementID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="HousePlacementOrgID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="HousePlacementServiceID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="HouseRetentionID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LastRent" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subsidies" nillable="true" type="tns:ArrayOfHousingSubsidy" />
          <xs:element minOccurs="0" name="Telephone1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone1Ext" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone2" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientHousingHistory" nillable="true" type="tns:ClientHousingHistory" />
  <xs:complexType name="HousingUnit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
          <xs:element minOccurs="0" name="AddressID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AddressString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaSqFt" nillable="true" type="xs:decimal" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attributes" nillable="true" type="q7:ArrayOfshort" />
          <xs:element minOccurs="0" name="ClusterID" type="xs:short" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentStatus" nillable="true" type="tns:HousingUnitStatus" />
          <xs:element minOccurs="0" name="DateOfOccupancy" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ExpectedMoveInDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="HouseID" type="xs:int" />
          <xs:element minOccurs="0" name="HousingTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="HousingTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsInPlacementInventory" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsOccupied" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSecured" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsShareable" type="xs:boolean" />
          <xs:element minOccurs="0" name="Landlord" nillable="true" type="tns:Landlord" />
          <xs:element minOccurs="0" name="LandlordPersonID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MaintenanceWorks" nillable="true" type="tns:ArrayOfHousingMaintenance" />
          <xs:element minOccurs="0" name="NoOfBedrooms" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="NoOfFloors" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="OccupancyComment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OccupancyStatus" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="OrgID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Photos" nillable="true" type="tns:ArrayOfHousingPhoto" />
          <xs:element minOccurs="0" name="Rent" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="StatusString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YearOfBuilt" nillable="true" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HousingUnit" nillable="true" type="tns:HousingUnit" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressID" type="xs:int" />
          <xs:element minOccurs="0" name="AddressLn1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLn2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CityID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryID" type="xs:short" />
          <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GeoRegionID" nillable="true" type="xs:short" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GeoRegionIDs" nillable="true" type="q8:ArrayOfshort" />
          <xs:element minOccurs="0" name="InternationalCityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternationalPostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternationalProvinceName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MapURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MetaDataSearch" nillable="true" type="xs:string" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PlaceIDs" nillable="true" type="q9:ArrayOfint" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="SelectedCityID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SelectedProvinceID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="HousingUnitStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="HousingStatusName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HousingStatusTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StatusDateAsString" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HousingUnitStatus" nillable="true" type="tns:HousingUnitStatus" />
  <xs:complexType name="Landlord">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactInfo" nillable="true" type="tns:ArrayOfDigitalContact" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GenderTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="HousingUnitCount" type="xs:int" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Landlord" nillable="true" type="tns:Landlord" />
  <xs:complexType name="ArrayOfDigitalContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DigitalContact" nillable="true" type="tns:DigitalContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDigitalContact" nillable="true" type="tns:ArrayOfDigitalContact" />
  <xs:complexType name="DigitalContact">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="DigitalContactExt" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DigitalContactID" type="xs:int" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HIFIS.ENUMS.CommonClasses" minOccurs="0" name="DigitalContactTypeID" type="q10:DigitalContactTypes" />
          <xs:element minOccurs="0" name="DigitalContactTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DigitalContactValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalContact" nillable="true" type="tns:DigitalContact" />
  <xs:complexType name="ArrayOfHousingMaintenance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HousingMaintenance" nillable="true" type="tns:HousingMaintenance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHousingMaintenance" nillable="true" type="tns:ArrayOfHousingMaintenance" />
  <xs:complexType name="HousingMaintenance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActualCost" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ActualEndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ActualStartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompletedYN" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContractingCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseID" type="xs:int" />
          <xs:element minOccurs="0" name="HouseMaintenanceID" type="xs:int" />
          <xs:element minOccurs="0" name="MaintenanceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaintenanceTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ScheduledCost" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ScheduledEndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ScheduledStartDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HousingMaintenance" nillable="true" type="tns:HousingMaintenance" />
  <xs:complexType name="ArrayOfHousingPhoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HousingPhoto" nillable="true" type="tns:HousingPhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHousingPhoto" nillable="true" type="tns:ArrayOfHousingPhoto" />
  <xs:complexType name="HousingPhoto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseID" type="xs:int" />
          <xs:element minOccurs="0" name="HousePhotoID" type="xs:long" />
          <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhotoDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PhotoImage" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HousingPhoto" nillable="true" type="tns:HousingPhoto" />
  <xs:complexType name="ArrayOfHousingSubsidy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HousingSubsidy" nillable="true" type="tns:HousingSubsidy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHousingSubsidy" nillable="true" type="tns:ArrayOfHousingSubsidy" />
  <xs:complexType name="HousingSubsidy">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ClientHouseID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HousingSubsidyID" type="xs:int" />
          <xs:element minOccurs="0" name="PayFrequencyType" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProgramID" type="xs:int" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProgramIDs" nillable="true" type="q11:ArrayOfint" />
          <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReasonForServiceTypeID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="ServiceID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ServiceProviderID" type="xs:int" />
          <xs:element minOccurs="0" name="ServiceProviderName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HousingSubsidy" nillable="true" type="tns:HousingSubsidy" />
  <xs:complexType name="ArrayOfClientDistinguishingFeature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDistinguishingFeature" nillable="true" type="tns:ClientDistinguishingFeature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDistinguishingFeature" nillable="true" type="tns:ArrayOfClientDistinguishingFeature" />
  <xs:complexType name="ClientDistinguishingFeature">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientDistinguishingFeatureID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistinguishingFeatureDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistinguishingFeatureTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="IsMarkedForDeletion" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientDistinguishingFeature" nillable="true" type="tns:ClientDistinguishingFeature" />
  <xs:complexType name="ClientCountry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="CityFreeText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CityOfBirth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="CountryOfBirth" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="ProvinceFreeText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProvinceOfBirth" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientCountry" nillable="true" type="tns:ClientCountry" />
  <xs:complexType name="ArrayOfClientListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientListItem" nillable="true" type="tns:ClientListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientListItem" nillable="true" type="tns:ArrayOfClientListItem" />
  <xs:complexType name="ClientListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AboriginalIndicatorID" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Aka1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Aka2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AproximativeAge" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="CountryOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderID" type="xs:short" />
      <xs:element minOccurs="0" name="HasActiveBulletin" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasActiveWatchConcern" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasProfilePic" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" type="xs:short" />
      <xs:element minOccurs="0" name="VeteranStateID" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientListItem" nillable="true" type="tns:ClientListItem" />
  <xs:complexType name="ClientPagedList">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HIFIS.ENUMS.CommonClasses" minOccurs="0" name="LastOrderByDirection" nillable="true" type="q12:OrderByDirection" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HIFIS.ENUMS.CommonClasses" minOccurs="0" name="LastSelectedOrderBy" nillable="true" type="q13:OrderByClientList" />
      <xs:element minOccurs="0" name="SelectedClients" nillable="true" type="tns:ArrayOfClientListItem" />
      <xs:element minOccurs="0" name="TotalRowsFound" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientPagedList" nillable="true" type="tns:ClientPagedList" />
  <xs:complexType name="ClientVitals">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AboriginalIndicatorID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="Aka1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Aka2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AproximativeAge" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="CauseOfDeathTypeID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="CitizenshipTypeID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="CityFreeText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CityOfBirth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientStateTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="ClusterID" type="xs:short" />
          <xs:element minOccurs="0" name="ConsentOrg" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ConsentTypeID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="CountryOfBirth" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="CurrentOrgAttestation" type="xs:boolean" />
          <xs:element minOccurs="0" name="CurrentOrgAttestationUser" type="xs:int" />
          <xs:element minOccurs="0" name="CurrentOrgConfirmedAttestation" type="xs:boolean" />
          <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DOBDateFirmYNbool" type="xs:boolean" />
          <xs:element minOccurs="0" name="DOD" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DODApproxYN" type="xs:boolean" />
          <xs:element minOccurs="0" name="DisabilityYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GenderTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="GeoRegionTypeID" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="HasActiveConsent" type="xs:boolean" />
          <xs:element minOccurs="0" name="InfoVerifiedYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsInFamily" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsStealthYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsStealthYNbool" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MedicAlertYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MetaDataSearch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
          <xs:element minOccurs="0" name="ProvinceFreeText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProvinceOfBirth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="VeteranStateID" nillable="true" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientVitals" nillable="true" type="tns:ClientVitals" />
  <xs:complexType name="ArrayOfClientHistoryChange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientHistoryChange" nillable="true" type="tns:ClientHistoryChange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientHistoryChange" nillable="true" type="tns:ArrayOfClientHistoryChange" />
  <xs:complexType name="ClientHistoryChange">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientHistoryChanges" type="xs:int" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateOfChange" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FieldTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="FieldTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientHistoryChange" nillable="true" type="tns:ClientHistoryChange" />
  <xs:complexType name="ClientReadOnlyVitals">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aka1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Aka2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AproximativeAge" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ClientHasAllRequiredAttributes" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="ClientStateTypeID" type="xs:short" />
      <xs:element minOccurs="0" name="ClusterID" type="xs:short" />
      <xs:element minOccurs="0" name="ConsentOrg" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ConsentTypeID" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="CurrentOrgAttestation" type="xs:boolean" />
      <xs:element minOccurs="0" name="CurrentOrgAttestationUser" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentOrgConfirmedAttestation" type="xs:boolean" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOBDateFirmYNbool" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisabilityYN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyMemberCount" type="xs:int" />
      <xs:element minOccurs="0" name="FileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderID" type="xs:short" />
      <xs:element minOccurs="0" name="GeoRegionTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasActiveBar" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasActiveBehaviourFactor" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasActiveBulletin" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasActiveConsent" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasActiveWatchConcern" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasPicture" type="xs:boolean" />
      <xs:element minOccurs="0" name="InfoVerfiedYN" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInFamily" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicAlertYN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="StaysCurrentStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientReadOnlyVitals" nillable="true" type="tns:ClientReadOnlyVitals" />
  <xs:complexType name="ArrayOfClientReadOnlyVitals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientReadOnlyVitals" nillable="true" type="tns:ClientReadOnlyVitals" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientReadOnlyVitals" nillable="true" type="tns:ArrayOfClientReadOnlyVitals" />
  <xs:complexType name="ArrayOfClientHousingHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientHousingHistory" nillable="true" type="tns:ClientHousingHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientHousingHistory" nillable="true" type="tns:ArrayOfClientHousingHistory" />
  <xs:complexType name="ClientAddressListContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientAddresses" nillable="true" type="tns:ArrayOfClientAddressReadContract" />
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientAddressListContract" nillable="true" type="tns:ClientAddressListContract" />
  <xs:complexType name="ArrayOfClientAddressReadContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientAddressReadContract" nillable="true" type="tns:ClientAddressReadContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientAddressReadContract" nillable="true" type="tns:ArrayOfClientAddressReadContract" />
  <xs:complexType name="ClientAddressReadContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClientAddressContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientAddressReadContract" nillable="true" type="tns:ClientAddressReadContract" />
  <xs:complexType name="ClientAddressContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientAddressID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientAddressContract" nillable="true" type="tns:ClientAddressContract" />
  <xs:complexType name="ClientAddressDetailContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="ClientAddress" nillable="true" type="tns:ClientAddressContract" />
      <xs:element minOccurs="0" name="ClientAddressID" type="xs:int" />
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientAddressDetailContract" nillable="true" type="tns:ClientAddressDetailContract" />
  <xs:complexType name="FamilyMemberContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupID" type="xs:int" />
          <xs:element minOccurs="0" name="GroupRoleTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="PartOfHouseHoldYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeopleFamilyMember" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeopleGroupID" type="xs:int" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
          <xs:element minOccurs="0" name="Relationship" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RelationshipTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sequence" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FamilyMemberContract" nillable="true" type="tns:FamilyMemberContract" />
  <xs:complexType name="FamilyFilters">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFilters">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetFullHistory" type="xs:boolean" />
          <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PeopleGroupID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FamilyFilters" nillable="true" type="tns:FamilyFilters" />
  <xs:complexType name="GroupContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActiveMembers" type="xs:int" />
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupHeadClientID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="GroupHeadPersonID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="GroupID" type="xs:int" />
          <xs:element minOccurs="0" name="GroupTypeID" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GroupContract" nillable="true" type="tns:GroupContract" />
  <xs:complexType name="FamilyMembersContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanCreate" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanJoin" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="Family1Members" nillable="true" type="tns:FamilyMembersListContract" />
      <xs:element minOccurs="0" name="Family2Members" nillable="true" type="tns:FamilyMembersListContract" />
      <xs:element minOccurs="0" name="FamilyMember" nillable="true" type="tns:FamilyMemberContract" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamilyMembersContract" nillable="true" type="tns:FamilyMembersContract" />
  <xs:complexType name="FamilyMembersListContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Family" nillable="true" type="tns:GroupContract" />
      <xs:element minOccurs="0" name="FamilyHead" nillable="true" type="tns:PeopleVitals" />
      <xs:element minOccurs="0" name="FamilyMembers" nillable="true" type="tns:ArrayOfFamilyMemberContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamilyMembersListContract" nillable="true" type="tns:FamilyMembersListContract" />
  <xs:complexType name="PeopleVitals">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActiveYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Aka1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Aka2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AproximativeAge" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DOBDateFirmYNbool" type="xs:boolean" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GenderTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MetaDataSearch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
          <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RolesID" nillable="true" type="q14:ArrayOfshort" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeopleVitals" nillable="true" type="tns:PeopleVitals" />
  <xs:complexType name="ArrayOfFamilyMemberContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FamilyMemberContract" nillable="true" type="tns:FamilyMemberContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamilyMemberContract" nillable="true" type="tns:ArrayOfFamilyMemberContract" />
  <xs:complexType name="ArrayOfFamilyMembersListContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FamilyMembersListContract" nillable="true" type="tns:FamilyMembersListContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamilyMembersListContract" nillable="true" type="tns:ArrayOfFamilyMembersListContract" />
  <xs:complexType name="PeopleSearchList">
    <xs:sequence>
      <xs:element minOccurs="0" name="SelectedPeople" nillable="true" type="tns:ArrayOfPeopleListItem" />
      <xs:element minOccurs="0" name="TotalRowsFound" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeopleSearchList" nillable="true" type="tns:PeopleSearchList" />
  <xs:complexType name="ArrayOfPeopleListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeopleListItem" nillable="true" type="tns:PeopleListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeopleListItem" nillable="true" type="tns:ArrayOfPeopleListItem" />
  <xs:complexType name="PeopleListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveYN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Aka1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AproximativeAge" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderID" type="xs:short" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q15:ArrayOfstring" />
      <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RolesID" nillable="true" type="q16:ArrayOfshort" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeopleListItem" nillable="true" type="tns:PeopleListItem" />
  <xs:complexType name="FamilySearchList">
    <xs:sequence>
      <xs:element minOccurs="0" name="SelectedFamilies" nillable="true" type="tns:ArrayOfFamilyList" />
      <xs:element minOccurs="0" name="TotalRowsFound" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamilySearchList" nillable="true" type="tns:FamilySearchList" />
  <xs:complexType name="ArrayOfFamilyList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FamilyList" nillable="true" type="tns:FamilyList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamilyList" nillable="true" type="tns:ArrayOfFamilyList" />
  <xs:complexType name="FamilyList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FamilyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamilyList" nillable="true" type="tns:FamilyList" />
  <xs:complexType name="ClientFamilyMemberContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClientGroupContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Family" nillable="true" type="tns:GroupContract" />
          <xs:element minOccurs="0" name="FamilyHead" nillable="true" type="tns:PeopleVitals" />
          <xs:element minOccurs="0" name="FamilyMember" nillable="true" type="tns:PeopleVitals" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientFamilyMemberContract" nillable="true" type="tns:ClientFamilyMemberContract" />
  <xs:complexType name="ClientGroupContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EmergencyContactYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupHeadYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupID" type="xs:int" />
          <xs:element minOccurs="0" name="GroupRoleTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="PeopleGroupID" type="xs:int" />
          <xs:element minOccurs="0" name="PeopleRelationshipTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
          <xs:element minOccurs="0" name="ServiceFee" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientGroupContract" nillable="true" type="tns:ClientGroupContract" />
  <xs:complexType name="ArrayOfClientVitals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientVitals" nillable="true" type="tns:ClientVitals" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientVitals" nillable="true" type="tns:ArrayOfClientVitals" />
  <xs:complexType name="Vehicle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="Colour" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateStart" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LicencePlate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeopleCarID" type="xs:int" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
          <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="VehiclesList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cars" nillable="true" type="tns:ArrayOfVehicle" />
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiclesList" nillable="true" type="tns:VehiclesList" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="ClientEmergencyContacts">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientContactList" nillable="true" type="tns:ArrayOfClientContactList" />
          <xs:element minOccurs="0" name="ClientEmergencyRelationshipTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewPerson" nillable="true" type="tns:PeopleVitals" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientEmergencyContacts" nillable="true" type="tns:ClientEmergencyContacts" />
  <xs:complexType name="ArrayOfClientContactList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientContactList" nillable="true" type="tns:ClientContactList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientContactList" nillable="true" type="tns:ArrayOfClientContactList" />
  <xs:complexType name="ClientContactList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aka1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientCategoryTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientGroupID" type="xs:int" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateEntered" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GenderID" type="xs:int" />
          <xs:element minOccurs="0" name="GroupTypeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastUpdatedBY" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeopleEmergencyRelationshipTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextBody" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientContactList" nillable="true" type="tns:ClientContactList" />
  <xs:complexType name="ArrayOfSideMenuParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SideMenuParameter" nillable="true" type="tns:SideMenuParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSideMenuParameter" nillable="true" type="tns:ArrayOfSideMenuParameter" />
  <xs:complexType name="SideMenuParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SideMenuParameter" nillable="true" type="tns:SideMenuParameter" />
  <xs:complexType name="SideMenuListContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="SideMenuList" nillable="true" type="tns:ArrayOfSideMenuContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SideMenuListContract" nillable="true" type="tns:SideMenuListContract" />
  <xs:complexType name="ArrayOfSideMenuContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SideMenuContract" nillable="true" type="tns:SideMenuContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSideMenuContract" nillable="true" type="tns:ArrayOfSideMenuContract" />
  <xs:complexType name="SideMenuContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControllerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasParamsYN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasShortcutYN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MVCViewMenuItemID" type="xs:int" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfSideMenuParameter" />
      <xs:element minOccurs="0" name="ParrentItemID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="PositionF" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="RightID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShortcutActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortcutControllerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubMenutItems" nillable="true" type="tns:ArrayOfSideMenuContract" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SideMenuContract" nillable="true" type="tns:SideMenuContract" />
  <xs:complexType name="Comment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorFName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AuthorLName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChildComments" nillable="true" type="tns:ArrayOfComment" />
          <xs:element minOccurs="0" name="ChildCommentsCount" type="xs:int" />
          <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CommentBody" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CommentID" type="xs:int" />
          <xs:element minOccurs="0" name="CommentTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EditableYN" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrganizationID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentCommentID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ShareYN" type="xs:boolean" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="ClientAttestation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttestationID" type="xs:int" />
          <xs:element minOccurs="0" name="AuditLogID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientAttestation" nillable="true" type="tns:ClientAttestation" />
</xs:schema>